{% extends 'statements/base.html' %}

{% load django_bootstrap5 %}

{% block title %}
Statement Detail
{% endblock %}

{% block heading %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-1">
            {% if prev_page %}
            <a href=".?page={{ prev_page }}">
                <button class="btn btn-transparent">
                    <i class="fas fa-arrow-left"></i>
                </button>
            </a>
            {% else %}
            <button class="btn btn-transparent">
                <i class="fas fa-stop"></i>
            </button>
            {% endif %}
        </div>
        <div class=" col-10">
            <img src="data:image/png;base64,{{ page_image }}" alt="{{ statement_name }}" class="img-fluid"
                style="max-width: 100%; height: calc(50vh + 50%);">
            <!-- <img src="data:image/png;base64,{{ page_image }}" alt="{{ statement_name }}" class="img-fluid"
                style="max-width: 100%; height: auto;"> -->
        </div>
        <div class="col-1">
            {% if next_page %}
            <a href=".?page={{ next_page }}">
                <button class="btn btn-transparent">
                    <i class="fas fa-arrow-right"></i>
                </button>
            </a>
            {% else %}
            <button class="btn btn-transparent">
                <i class="fas fa-stop"></i>
            </button>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
