{% extends 'statements/base.html' %}

{% load django_bootstrap5 %}

{% block title %}
Upload new statement
{% endblock %}

{% block heading %}
{% endblock %}

{% block content %}

<form action="upload" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Upload" />
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const fileInput = document.querySelector('input[type="file"]');
        const nameInput = document.querySelector('input[name="name"]');

        fileInput.addEventListener('change', function () {
            if (this.files.length > 0) {
                const fileName = this.files[0].name;
                nameInput.value = fileName;
            }
        });
    });
</script>

{% endblock %}
